@model IEnumerable<CRUDEF.Crickter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class="btn btn-primary"})
</p>
<table class="table table-hower table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cgender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cgender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cid }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id=item.Cid }, new { @class = "btn btn-success" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Cid }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
